@import "./../utility/theme.scss";
.contactListWrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
  height: fit-content;
  min-height: 100%;
  background-color: $BACKGROUND_COLOR_3;
  font-family: "Roboto", sans-serif;
  .topBarWrapper {
    background-color: $PRIMARY_COLOR_DEFAULT;
    border-bottom: 4px solid $SECONDARY_COLOR_DEFAULT;
  }
  .contactList {
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    // grid-auto-rows: auto;
    // justify-content: center;
    // grid-gap: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    width: 100%;
    margin: 0 auto;
  }
  .topBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    height: 80px;
    width: 800px;
    margin: auto;
    h1 {
      color: $PRIMARY_COLOR_WHITE;
    }
    .addButton {
      background-color: $SECONDARY_COLOR_DEFAULT;
      border: none;
      border-radius: 25px;
      box-sizing: border-box;
      padding: 5px;
      cursor: pointer;
      width: 36px;
      height: 36px;
      transition: 0.1s ease-in;
      img {
        width: 20px;
        height: 20px;
        background-size: contain;
      }
      &:hover {
        background-color: $SECONDARY_COLOR_HOVER;
      }
    }
  }
}
.contactCreateWrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $BACKGROUND_COLOR_3;
  font-family: "Roboto", sans-serif;
  .topBarWrapper {
    background-color: $PRIMARY_COLOR_DEFAULT;
    border-bottom: 4px solid $SECONDARY_COLOR_DEFAULT;
  }
  .topBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    height: 80px;
    color: $PRIMARY_COLOR_WHITE;
    width: 800px;
    margin: auto;
  }
}
.contactForm {
  padding: 25px;
}

.backButton {
  border: none;
  box-sizing: border-box;
  background-color: $PRIMARY_COLOR_DEFAULT;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 25px;
  transition: 0.1s ease-in;
  width: 100px;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.errorPage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: $FONT_SIZE_SUPER_LARGE;
  font-weight: $FONT_WEIGHT_HEAVY;
}

@media (max-width: $BREAKPOINT-LAPTOP) {
  .contactCreateWrapper {
    .topBar {
      width: 600px;
    }
  }
  .contactListWrapper {
    .contactList {
      width: 600px;
    }
    .topBar {
      width: 600px;
    }
  }
}
