@import "./../utility/theme.scss";
.contactListWrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
  height: fit-content;
  min-height: 100%;
  background-color: $BACKGROUND_COLOR_4;
  font-family: "Roboto", sans-serif;
  .contactList {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .topBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: $BACKGROUND_COLOR_5;
    padding: 0px 20px;
    height: 80px;
    .link {
      width: 30px;
      height: 30px;
    }
    .addButton {
      background-color: $PRIMARY_COLOR_DEFAULT;
      border: none;
      border-radius: 25px;
      box-sizing: border-box;
      padding: 5px;
      cursor: pointer;
      width: 100%;
      height: 100%;
      transition: 0.1s ease-in;
      img {
        width: 100%;
        height: 100%;
        background-size: contain;
      }
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
.contactCreateWrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $BACKGROUND_COLOR_4;
  font-family: "Roboto", sans-serif;
  .topBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: $BACKGROUND_COLOR_5;
    padding: 0px 20px;
    height: 80px;
  }
}
.contactForm {
  padding: 25px;
}

.backButton {
  border: none;
  box-sizing: border-box;
  background-color: $PRIMARY_COLOR_DEFAULT;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 25px;
  transition: 0.1s ease-in;
  width: 100px;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.errorPage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: $FONT_SIZE_SUPER_LARGE;
  font-weight: $FONT_WEIGHT_HEAVY;
}
