// font-size
$FONT_SIZE_SUPER_SMALL: 13px;
$FONT_SIZE_SMALL: 15px;
$FONT_SIZE_MEDIUM: 17px;
$FONT_SIZE_LARGE: 20px;
$FONT_SIZE_SUPER_LARGE: 30px;
// font-weight
$FONT_WEIGHT_MEDIUM: normal;
$FONT_WEIGHT_HEAVY: bold;
//font-color
$PRIMARY_COLOR_DEFAULT: #1a1f71;
$PRIMARY_COLOR_HOVER: #003ea9;
$SECONDARY_COLOR_DEFAULT: #f7b600;
$SECONDARY_COLOR_HOVER: #ebac00;
$PRIMARY_COLOR_WARMING: #c60000;
$PRIMARY_COLOR_ERROR: #de0000;
$PRIMARY_COLOR_TITLE: #000000;
$PRIMARY_COLOR_SUBTITLE: #7b7b7b;
$PRIMARY_COLOR_WHITE: #ffffff;

$BACKGROUND_COLOR_1: #ffffff;
$BACKGROUND_COLOR_2: #00000070;
$BACKGROUND_COLOR_3: #fcfcfc;
$BACKGROUND_COLOR_4: #ebebeb;
$BACKGROUND_COLOR_5: #bababa;

$BREAKPOINT-LAPTOP: 876px;
