// font-size
$FONT_SIZE_SUPER_SMALL: 12px;
$FONT_SIZE_SMALL: 15px;
$FONT_SIZE_LARGE: 20px;
$FONT_SIZE_SUPER_LARGE: 30px;
// font-weight
$FONT_WEIGHT_MEDIUM: normal;
$FONT_WEIGHT_HEAVY: bold;
//font-color
$PRIMARY_COLOR_DEFAULT: #3561e6;
$PRIMARY_COLOR_ERROR: #de0000;
$PRIMARY_COLOR_SUBTITLE: #bfbfbf;
$PRIMARY_COLOR_WHITE: #ffffff;

$BACKGROUND_COLOR_1: #ffffff;
$BACKGROUND_COLOR_2: #00000070;
$BACKGROUND_COLOR_3: #e9e9e9;
$BACKGROUND_COLOR_4: #ebebeb;
$BACKGROUND_COLOR_5: #fbfbfb;
