@import "./../utility/theme.scss";
.contact {
  padding: 25px 0px;
  background-color: $BACKGROUND_COLOR_1;
  border-radius: 25px;
  margin-bottom: 20px;
  -webkit-box-shadow: -2px 13px 17px -5px rgba(179, 179, 179, 1);
  -moz-box-shadow: -2px 13px 17px -5px rgba(179, 179, 179, 1);
  box-shadow: -2px 13px 17px -5px rgba(179, 179, 179, 1);
  &:last-child {
    margin-bottom: 0px;
  }
  .modal {
    position: fixed;
    z-index: 100;
    background-color: $BACKGROUND_COLOR_2;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0px;
    top: 0px;
    .modalContainer {
      background-color: $BACKGROUND_COLOR_1;
      width: 300px;
      height: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      border-radius: 10px;
      .warning {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: calc(100% - 60px);
        p {
          margin: 0px;
          &:nth-child(2n + 1) {
            font-weight: $FONT_WEIGHT_HEAVY;
            line-height: 25px;
          }
          &:nth-child(2n) {
            margin-top: 10px;
            color: #bfbfbf;
            font-size: $FONT_SIZE_SMALL;
          }
        }
      }
    }
    .buttonGroup {
      background-color: $BACKGROUND_COLOR_3;
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 60px;
      box-sizing: border-box;
      justify-content: space-evenly;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      button {
        border: none;
        box-sizing: border-box;
        padding: 10px 15px;
        transition: 0.1s ease-in;
        border: 0px;
        width: 100%;
        cursor: pointer;
        background-color: $PRIMARY_COLOR_DEFAULT;
        color: $PRIMARY_COLOR_WHITE;
        &:hover {
          background-color: $BACKGROUND_COLOR_1;
          color: $PRIMARY_COLOR_DEFAULT;
        }
        &:nth-of-type(2n + 1) {
          border-bottom-left-radius: 10px;
        }
        &:nth-of-type(2n) {
          border-bottom-right-radius: 10px;
        }
      }
      div {
        width: 1px;
        height: 50px;
        background-color: $PRIMARY_COLOR_WHITE;
      }
    }
  }
  .contactBody {
    display: grid;
    grid-template-columns: 150px auto 200px;
    align-items: center;
  }
  .contactDetail {
    border-top: 1px solid #d8d8d8;
    width: calc(100% - 50px);
    box-sizing: border-box;
    margin: auto;
    padding-top: 25px;
    margin-top: 25px;
    p {
      &:nth-child(4n + 3),
      &:nth-child(4n + 1) {
        margin: 0px;
      }
    }
  }
  .profileImage {
    display: flex;
    justify-content: center;
    img {
      width: 100px;
      height: 100px;
      object-fit: contain;
      border-radius: 50px;
      box-sizing: border-box;
    }
  }
  .contactInfo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      margin: 0px;
      &:nth-child(2n + 1) {
        font-size: $FONT_SIZE_LARGE;
        font-weight: $FONT_WEIGHT_HEAVY;
        margin-bottom: 10px;
      }
    }
  }
  .contactBtn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    button {
      border: none;
      box-sizing: border-box;
      background-color: $BACKGROUND_COLOR_1;
      color: $PRIMARY_COLOR_WHITE;
      border-radius: 25px;
      transition: 0.1s ease-in;
      width: 40px;
      height: 40px;
      padding: 0px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
      img {
        width: 35px;
        height: 35px;
        object-fit: contain;
        border-radius: 50px;
      }
    }
  }
}
.addContact {
  background-color: $BACKGROUND_COLOR_1;
  border-radius: 25px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-shadow: -2px 13px 17px -5px rgba(179, 179, 179, 1);
  -moz-box-shadow: -2px 13px 17px -5px rgba(179, 179, 179, 1);
  box-shadow: -2px 13px 17px -5px rgba(179, 179, 179, 1);
  .contactBody {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 20px;
    padding-bottom: 20px;
    width: 100%;
    border-bottom: 1px solid #dcdcdc;
    .formSection {
      display: flex;
      flex-direction: column;
      position: relative;
    }
    input[type="text"] {
      margin-top: 5px;
      height: 30px;
      border-radius: 5px;
      padding-left: 15px;
      outline: none;
    }
  }
  button {
    border: none;
    box-sizing: border-box;
    background-color: $PRIMARY_COLOR_DEFAULT;
    color: $PRIMARY_COLOR_WHITE;
    padding: 10px 15px;
    border-radius: 25px;
    transition: 0.1s ease-in;
    width: 100%;
    margin-top: 25px;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
}

.error {
  color: $PRIMARY_COLOR_ERROR;
}
