@import "./../utility/theme.scss";
.contact {
  padding: 25px 0px;
  background-color: $BACKGROUND_COLOR_1;
  border-radius: 25px;
  -webkit-box-shadow: -2px 0px 17px -5px rgba(179, 179, 179, 1);
  -moz-box-shadow: -2px 0px 17px -5px rgba(179, 179, 179, 1);
  box-shadow: -2px 0px 17px -5px rgba(179, 179, 179, 1);
  height: fit-content;
  width: 45%;
  &:last-child {
    margin-bottom: 0px;
  }
  .modal {
    position: fixed;
    z-index: 100;
    background-color: $BACKGROUND_COLOR_2;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0px;
    top: 0px;
    .modalContainer {
      background-color: $BACKGROUND_COLOR_1;
      width: 375px;
      height: 225px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      border-radius: 10px;
      .warning {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: calc(100% - 60px);
        text-align: center;
        p {
          margin: 0px;
          &:nth-child(2n + 1) {
            font-weight: $FONT_WEIGHT_HEAVY;
            line-height: 25px;
            font-size: $FONT_SIZE_MEDIUM;
          }
          &:nth-child(2n) {
            margin-top: 10px;
            color: #bfbfbf;
            font-size: $FONT_SIZE_SUPER_SMALL;
          }
        }
      }
    }
    .buttonGroup {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 60px;
      box-sizing: border-box;
      justify-content: space-evenly;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      button {
        border: none;
        box-sizing: border-box;
        padding: 10px 15px;
        transition: 0.1s ease-in;
        border: 0px;
        width: 100%;
        cursor: pointer;
        background-color: $BACKGROUND_COLOR_3;
        border-top: 1px solid $BACKGROUND_COLOR_5;
        &:hover {
          background-color: $BACKGROUND_COLOR_4;
        }
        &:nth-of-type(2n + 1) {
          border-bottom-left-radius: 10px;
          color: $PRIMARY_COLOR_DEFAULT;
          border-right: 1px solid $BACKGROUND_COLOR_5;
        }
        &:nth-of-type(2n) {
          border-bottom-right-radius: 10px;
          color: $PRIMARY_COLOR_WARMING;
        }
      }
      div {
        width: 1px;
        height: 50px;
        background-color: $PRIMARY_COLOR_WHITE;
      }
    }
  }
  .contactBody {
    display: grid;
    grid-template-columns: 150px auto 150px;
    align-items: center;
  }
  .contactDetail {
    border-top: 1px solid #d8d8d8;
    width: calc(100% - 50px);
    box-sizing: border-box;
    margin: auto;
    padding-top: 25px;
    margin-top: 25px;
    p {
      &:nth-child(4n + 3),
      &:nth-child(4n + 1) {
        margin: 0px;
      }
    }
  }
  .profileImage {
    display: flex;
    justify-content: center;
    img {
      width: 100px;
      height: 100px;
      object-fit: contain;
      border-radius: 50px;
      box-sizing: border-box;
    }
  }
  .contactInfo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      margin: 10px 10px 0px 10px;
      &:nth-child(2n + 1) {
        font-size: $FONT_SIZE_LARGE;
        font-weight: $FONT_WEIGHT_HEAVY;
        color: $PRIMARY_COLOR_TITLE;
      }
      &:nth-child(2n) {
        color: $PRIMARY_COLOR_SUBTITLE;
      }
    }
    button {
      color: $PRIMARY_COLOR_DEFAULT;
      background-color: transparent;
      cursor: pointer;
      width: fit-content;
      transition: 0.1s ease;
      font-size: 14px;
      margin: 10px;
      padding: 0px;
      border: none;
      border-bottom: $PRIMARY_COLOR_DEFAULT 2px solid;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  .contactBtn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    button {
      border: none;
      box-sizing: border-box;
      background-color: $BACKGROUND_COLOR_1;
      color: $PRIMARY_COLOR_WHITE;
      border-radius: 25px;
      transition: 0.1s ease-in;
      width: 40px;
      height: 40px;
      padding: 0px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
      img {
        width: 35px;
        height: 35px;
        object-fit: contain;
        border-radius: 50px;
      }
    }
  }
}
.addContact {
  background-color: $BACKGROUND_COLOR_1;
  border-radius: 25px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  margin: auto;
  -webkit-box-shadow: -2px 0px 17px -5px rgba(179, 179, 179, 1);
  -moz-box-shadow: -2px 0px 17px -5px rgba(179, 179, 179, 1);
  box-shadow: -2px 0px 17px -5px rgba(179, 179, 179, 1);
  box-sizing: border-box;
  .contactBody {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 20px;
    padding-bottom: 20px;
    width: 100%;
    border-bottom: 1px solid #dcdcdc;
    .formSection {
      display: flex;
      flex-direction: column;
      position: relative;
    }
    input[type="text"] {
      margin-top: 5px;
      height: 30px;
      border-radius: 5px;
      padding-left: 15px;
      outline: none;
    }
  }
  .formButton {
    display: flex;
    flex-direction: row;
    .link {
      margin-right: 20px;
    }
    button {
      border: none;
      box-sizing: border-box;
      background-color: $PRIMARY_COLOR_DEFAULT;
      color: $PRIMARY_COLOR_WHITE;
      padding: 10px 15px;
      border-radius: 25px;
      transition: 0.1s ease;
      width: 150px;
      margin-top: 25px;
      cursor: pointer;
      &:nth-child(2n + 1) {
        background-color: $BACKGROUND_COLOR_1;
        color: $PRIMARY_COLOR_DEFAULT;
        border: 2px solid $PRIMARY_COLOR_DEFAULT;
        &:hover {
          background-color: $PRIMARY_COLOR_DEFAULT;
          color: $PRIMARY_COLOR_WHITE;
        }
      }
      &:hover {
        background-color: $BACKGROUND_COLOR_1;
        color: $PRIMARY_COLOR_DEFAULT;
        border: 2px solid $PRIMARY_COLOR_DEFAULT;
      }
    }
  }
}

.error {
  color: $PRIMARY_COLOR_ERROR;
}

@media (max-width: $BREAKPOINT-LAPTOP) {
  .addContact {
    width: 600px;
  }
}
